main {
  text-align: left;
  vertical-align: center;
  line-height: 10vh;
}

/*
.welcome {
  background-image: url("src/assets/winter-neva-background.png");
}
*/

/* centers both text and images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header {
  height: 15%;
  width: 100%;
  border-bottom: 4px solid black;
}
.property-name {
  text-align: center;
  padding: 10% 10% 0% 10%;
  flex-grow: 1;
  font-size: 0.7rem;
}
.train-svg {
  width: 70%;
  align-self: center;
  padding-bottom: 20%;
}

.railroad-name {
  text-align: center;
  padding-top: 5%;
  font-size: 0.7rem;
  flex-grow: 1;
}

.monopoly-symbol {
  height: 1em;
  width: 1em;
}
.price * {
  margin: 0;
  font-size: 0.7rem;
}
.community-text {
  font-size: 0.7rem;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pay {
  padding-right: 3px;
}
.board {
  display: grid;
  grid-template-columns: repeat(13, 4rem);
  grid-template-rows: repeat(13, 4rem);
  gap: 0px;
}
.board-image {
  grid-column: 3 / 12;
  grid-row: 3 / 12;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
}
/* 
TranslateZ seems to fix blurry text on some browsers caused by rotation.
Solution found from:https://stackoverflow.com/questions/20326220/blurry-text-on-transformrotate-in-chrome
*/
.right {
  transform: rotate(-90deg) translateZ(0);
  transform-origin: top left;
}
.top {
  transform: rotate(180deg) translateZ(0);
}
.left {
  transform: rotate(90deg) translateZ(0);
  transform-origin: bottom left;
}
.popup {
  position: relative;
  left: -50%;
  margin: auto;
  background-color: rebeccapurple;
}
.popup > * {
  width: 100%;
  height: 100%;
}
.popup * {
  font-size: 1.2rem;
}

#board-container {
  display: flex;
  align-items: center;
}
.corner {
  background-color: #c7dec4;
  outline: 4px solid black;
  display: flex;
  justify-content: center;
  font-size: 70%;
  z-index: 1;
}
.go-to-jail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(225deg);
}
.go-to-jail {
  grid-column: 12 / span 2;
  grid-row: 1 / span 2;
  font-size: 0.5rem;
}
.go {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 12 / span 2;
  grid-column: 12 / span 2;
  font-size: 0.45rem;
}
.cop {
  width: 50%;
}
.arrow {
  width: 70%;
}
.go-text {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
.go-container {
  transform: rotate(-45deg);
}
.collect {
  text-align: center;
  margin: 0;
}
.jail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jail {
  grid-column: 1 / span 2;
  grid-row: 12 / span 2;
}
.jail-image {
  width: 80%;
}
.jail-container h1 {
  margin: 0;
}
.in-jail {
  background-color: orange;
  align-self: flex-end;
  width: 75%;
  height: 75%;
  outline: 4px solid black;
}
.in-jail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(45deg);
}
#just {
  position: relative;
  right: 65%;
  bottom: 25%;
  transform: rotate(90deg);
}
#visiting {
  position: relative;
  bottom: 30%;
}

.parking {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.parking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(135deg);
}
.parking-container h1 {
  margin: 0.1rem;
  font-size: 1rem;
}
.card-holder {
  display: flex;
}
.card {
  background-color: #c7dec4;
  outline: 4px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  word-break: break-word;
  font-size: 50%;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.community-chance {
  width: 95%;
}
.income {
  width: 20%;
  flex: 1;
}
.luxury {
  width: 80%;
  flex: 1;
}
.electric {
  width: 50%;
  flex: 1;
}
.water {
  width: 80%;
  flex: 1;
}
.car {
  width: 70%;
}
.brown {
  background-color: #614901;
}
.light-blue {
  background-color: #6ba9a5;
}
.purple {
  background-color: #930086;
}
.orange {
  background-color: #d68000;
}
.red {
  background-color: #9f0108;
}
.green {
  background-color: #008e04;
}
.dark-blue {
  background-color: #1a2596;
}
.yellow {
  background-color: #ffee00;
}
